@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand span{
    font-size: 3rem;
	text-transform: uppercase;
	color: #4070f4;
}


#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 7vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #4070f4;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}


@media only screen and (min-width: 1200px) {

    
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

}

#home{
    background-image: url(https://i.ibb.co/NZpsLry/bg3-1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}
#home .home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#home h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#home h1:nth-child(1) {
    animation-delay: 1s;
}
#home h1:nth-child(2) {
    animation-delay: 2s;
}
#home h1:nth-child(3) {
    animation-delay: 3s;
}
#home h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #4070f4;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#home h1:nth-child(1) span {
    animation-delay: .5s;
}
#home h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
    animation-delay: 2.5s;
}
#home .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid #4070f4;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}

#home .cta:hover{
    color: white;
    background-color: #4070f4;
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*.navbar{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;

}
.navbar.sticky{
    padding: 15px 0;
    background: #212928;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #4070f4;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .menu li a:hover{
    position: relative;
    color: #4070f4;
}
.navbar .menu li a:hover:after{
    position: absolute;
    content: "";
    background-color: #4070f4;
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 3rem;
}*/

@media only screen and (min-width: 1680px){
    .max-width{
        max-width: 1700px;
        padding: 0 80px;
        margin: auto;
    }
    #home .home{
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }
    
}

@media only screen and (max-width: 768px){
    .max-width{
        max-width: 700px;
        padding: 0 80px;
        margin: auto;
    }
    #header .nav-bar {
        padding: 5px 15px;
    }
    #home .home{
        max-width: 500px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: center;
    }
    #about .about{
        flex-direction: column-reverse;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    #about .about-content{
        flex-direction: column-reverse;
        width: 100%;
    }
    #about .about-content .column.right {
        text-align: center;
        width: 80%;
        margin-top: 40px;
        justify-content: center;
    }
    #about .about-content .column.left{
        margin-top: 50px;
        padding-top: 70px;
        align-items: center;
        margin: auto;
        width: 100%;
        justify-content: center;
    
    }
    #skills .box{
        float: none;
    }
    #skills .cards{
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 40%;
    }
    #skills .circle {
        margin-top: 5%;
      }
    .item1 {
        grid-column: 1;
    }
    .item2 {
        grid-column: 1;
    }
    .item3 {
        grid-column: 1;
    }
}


#about{
    background:#ffffff;
}

#about .about{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}
#about .title{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #4070f4;
}

#about .title hr{
    padding: 1px;
    background:  #212928;
}
#about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;


}
/*#about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 4px;
}*/
#about .about-content .left{
    width: 30%;
    margin-left: 10%;
    display: flex;
    justify-content: center;

}
#about .about-content .left .card-container{
    width: 310px;
    height: 400px;
}
#about .about-content .left .card{
    width: 100%;
    height: 100%;
    transition: transform .7s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
#about .about-content .left .card-container .card:hover{
    transform: rotateY(180deg);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#about .about-content .left .card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;

}
#about .about-content .left .card .front{
    background-color: red;
    border-radius: 100px;
}
#about .about-content .left .card  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#about .about-content .left .card .back{
    background-color: purple;
    transform: rotateY(180deg);
    border-radius: 12px;
}
#about .about-content .right{
    text-align: left;
    width: 50%;
    margin-left: 10%;
    padding-right: 8%;
    height: 400px;
}
#about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
#about .about-content .right p{
    text-align: justify;
    font-size: 15px;
}
#about .about-content .right a{
    display: inline-block;
    background: #4070f4;
    color: #fff;
    font-size: 20px;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #4070f4;
    transition: all 0.3s ease;
}
#about .about-content .right a:hover{
    color:#4070f4;
    background: none;
}

#skills {
    background:#fdfdfd;
}
#skills .title{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #4070f4;
}

#skills .skills{
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 100px;
}
#skills .controls{
    width: 100%;
    margin: auto;
}
#skills .control{
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    border: none;
    background-color: #29323c;
    color: white;
    font-size: 15px;
}
#skills .active, .control:hover{
    height: 50px;
    width: 100px;
    border: 2px solid #29323c;
    background-color: white;
    color: #29323c;
    font-size: 15px;
}
.active-skills {
    height: 50px;
    width: 100px;
    border: 2px solid #29323c;
    background-color: white;
    color: #29323c;
    font-size: 15px; 
}
#skills .grid {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 400em;
    grid-gap: 3rem;
    justify-content: center;
    transition: .4s;
  }
  
 #skills .grid-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 320px;
    z-index: 1;
  }
  
 #skills .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  #skills .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  #skills .card-content {
    padding: 3rem;
  }
  
  #skills .card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
  }
  
  #skills .card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
  }
  

  #skills .bar {
    top: 100px;
    left: 20px;
    height: 5px;
    width: 100%;
  }
  #skills .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  #skills .grid-item:hover .filledbar:nth-child(1) {
    width: 70%;
    transition: 0.4s ease-out;
  }
  
  #skills .filledbar {
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%); ;
    width: 100%;
    height: 100%;
  }
  
  #skills .card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
  }
  
  #skills .card-btn:hover,
  #skills .card-btn:active {
    background-color: #c2cffc;
  }
  
  #skills .card-btn:hover span,
  #skills .card-btn:active span {
    margin-left: 1.5rem;
  }
  
  @media only screen and (max-width: 60em) {
    #skills {
      padding: 3rem;
    }
  
    #skills .grid {
      grid-gap: 3rem;
    }
  }
 



  .form {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: #4070f4;
    position: relative;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #4070f4;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #4070f4;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #4070f4;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: #4070f4;
  }
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #4070f4, #2857d6);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
  }
  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
  
    .contact-info:before {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }
  }
  